
<div class="navigation-header">
    <a href="/profile" class="btn btn-default btn-sm">My Profile</a>
    <a href="/children" class="btn btn-default btn-sm">Children</a>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
